In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import csv
import re

In [7]:
df = pd.read_csv('miRNA.txt',sep='\s+')
df.tail(1000)

,seq_ID,microRNA_name,miRNA_start,miRNA_end,miRNA_seq,mRNA_name,mRNA_start,mRNA_end_extended,mRNA_seq_extended,chimeras_decompressed,...,folding_energy,5'UTR,CDS,3'UTR,folding_class,conservation_score,log2_target_enrichment,CLASH_single_reads_ovlp,CLASH_cluster_ovlp,PAR_CLIP_cluster_ovlp
17514,0727AHS-699939_2,MIMAT0005577_MirBase_miR-1226_microRNA,1,22,TCACCAGCCCTGTGTTCCCTAG,ENSG00000120137_ENST00000239231_PANK3_mRNA,2574,2636,AGGAAAAGGGGAAGAGAGGCTGAGTGTCACCAAGGTCCAAACTCCA...,2,...,-18.8,NaN,NaN,1.0,III,0.11047,NaN,5.0,NaN,NaN
17515,L2HS-1929426_1,MIMAT0005577_MirBase_miR-1226_microRNA,1,22,TCACCAGCCCTGTGTTCCCTAG,ENSG00000159592_ENST00000355105_GPBP1L1_mRNA,1618,1677,ATGCTGGAATCACAGGGAACCCATCTGGTTGGCATAGCTCTTCCCG...,1,...,-18.8,NaN,1.0,NaN,III,NaN,NaN,7.0,NaN,NaN
17516,L2HS-667697_3,MIMAT0005577_MirBase_miR-1226_microRNA,1,22,TCACCAGCCCTGTGTTCCCTAG,ENSG00000160685_ENST00000368426_ZBTB7B_mRNA,2688,2733,AGGGTAAGGGGTTGGAAGAGCCTTGTGGAGAGCGGGCGAGCCGGCG,3,...,-18.8,NaN,NaN,1.0,III,0.13518,NaN,NaN,NaN,NaN
17517,0727AHS-498590_3,MIMAT0005577_MirBase_miR-1226_microRNA,1,22,TCACCAGCCCTGTGTTCCCTAG,ENSG00000175826_ENST00000318988_DULLARD_mRNA,1359,1406,TCTGGATGGACACATGGGCCAGGGGCTCTGAAGCAGCCTCACTCTTAA,3,...,-18.7,NaN,NaN,1.0,IV,NaN,NaN,24.0,NaN,NaN
17518,L2-1491743_1,MIMAT0005577_MirBase_miR-1226_microRNA,1,22,TCACCAGCCCTGTGTTCCCTAG,ENSG00000205339_ENST00000379719_IPO7_mRNA,2901,2951,CTAAGCAGGCTGGTGAAGATGGAGATGATGAAGATTGGGAAGAAGA...,2,...,-18.7,NaN,1.0,NaN,I,NaN,NaN,21.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18509,L2HS-3158593_1,MIMAT0018349_MirBase_miR-3934_microRNA,1,22,TCAGGTGTGGAAACTGAGGCAG,ENSG00000198712_ENST00000361739_MT-CO2_mRNA,199,253,ATCCTGCCCGCCATCATCCTAGTCCTCATCGCCCTCCCATCCCTAC...,1,...,-13.5,NaN,1.0,NaN,V,NaN,NaN,593.0,NaN,NaN
18510,L2HS-578047_3,MIMAT0018359_MirBase_miR-3943_microRNA,1,23,TAGCCCCCAGGCTTCACTTGGCG,ENSG00000140988_ENST00000343262_RPS2_mRNA,345,388,CTTCCTGGGGGCCTCTCTCAAGGATGAGGTTTTGAAGATTATGC,4,...,-18.8,NaN,1.0,NaN,I,NaN,NaN,662.0,NaN,NaN
18511,L1HS-550121_2,MIMAT0018359_MirBase_miR-3943_microRNA,1,23,TAGCCCCCAGGCTTCACTTGGCG,ENSG00000080824_ENST00000216281_HSP90AA1_mRNA,666,720,AGTACGCTTGGGAGTCCTCAGCAGGGGGATCATTCACAGTGAGGAC...,2,...,-18.5,NaN,1.0,NaN,I,NaN,NaN,178.0,NaN,NaN
18512,L2HS-896514_2,MIMAT0018359_MirBase_miR-3943_microRNA,1,23,TAGCCCCCAGGCTTCACTTGGCG,ENSG00000135404_ENST00000257857_CD63_mRNA,614,657,TAAGTGCTGTGGGGCTGCTAACTACACAGATTGGGAGAAAATCC,2,...,-17.9,NaN,1.0,NaN,III,NaN,NaN,47.0,NaN,NaN
18513,L2HS-790379_2,MIMAT0018447_MirBase_miR-548aa_microRNA,1,25,AAAAACCACAATTACTTTTGCACCA,ENSG00000198466_ENST00000339656_ZNF587_mRNA,860,905,TGTGCAGTGATTGTGGAAAATCCTTTAGCAGATATGTCAGCTTCAG,2,...,-18.3,NaN,1.0,NaN,IV,NaN,NaN,8.0,NaN,NaN

In [93]:
miRNA_len = []
count = 0
for m in df["miRNA_seq"]:
    if( len(m) != 22):
        count = count+1
    miRNA_len.append(len(m))
    
len_set= set(miRNA_len)
len_set

{17, 18, 19, 20, 21, 22, 23, 24, 25, 26}

In [97]:
miRNA_len_25 = []
mi_25 = []
file = open('miRNA_len25.txt', 'w')
for m in df["miRNA_seq"]:
    if(len(m)==17):
        m=m+"ACTGACTN"
    if(len(m)==18):
        m=m+"ACTGACN"
    if(len(m)==19):
        m=m+"ACTGAN"
        
    if(len(m)==20):
        m=m+"ACTGN"
        
    if(len(m)==21):
        m=m+"ACTN"
       
    if(len(m)==22):
        m=m+"ACN"
        
    if(len(m)==23):
        m=m+"AN"
        
    if(len(m)==24):
        m=m+"N"
       
    if(len(m)==25):
        m=m[0:24] + "N"
    if(len(m)==26):
        m = m[0:24] + "N"
    miRNA_len_25.append(m)
    mi_25.append(len(m))
  
    file.write(m+ "\n")

In [98]:

len_set= set(mi_25)
len_set

{25}

In [99]:
motif_df = pd.read_csv('miRNA_len25.txt')
motif_df.columns =['Sequance']
len(motif_df)

18513

In [100]:
labels = []
count = 0
for x in range(0,18513):
    labels.append(1)
    count=count+1

In [101]:
motif_df['labels']= labels
motif_df

                        Sequance  labels
0      TGAGGTAGTAGGTTGTATAGTTACN       1
1      TGAGGTAGTAGGTTGTATAGTTACN       1
2      TGAGGTAGTAGGTTGTATAGTTACN       1
3      TGAGGTAGTAGGTTGTATAGTTACN       1
4      TGAGGTAGTAGGTTGTATAGTTACN       1
...                          ...     ...
18508  TCAGGTGTGGAAACTGAGGCAGACN       1
18509  TAGCCCCCAGGCTTCACTTGGCGAN       1
18510  TAGCCCCCAGGCTTCACTTGGCGAN       1
18511  TAGCCCCCAGGCTTCACTTGGCGAN       1
18512  AAAAACCACAATTACTTTTGCACCN       1

[18513 rows x 2 columns]

In [102]:
motif_df_negative = pd.read_csv('negative-lable-result.txt')
motif_df_negative.columns =['Sequance']
len(motif_df_negative)

13122

In [103]:
labels_Neg = []
count = 0
for x in range(0,13122):
    labels_Neg.append(0)
    count=count+1

In [104]:
motif_df_negative['labels']= labels_Neg
motif_df_negative

                        Sequance  labels
0      GCCTGGCGGGTGGGTCGGCGATCGN       0
1      GATGGTGGGGTAGGGCCATTATCGN       0
2      CCCCAACGCCCTCTCCCTCCATCGN       0
3      CCAAAAGCAGTGCGCAGCAGATCGN       0
4      GGACTGGACTGTGCACCCCAATCGN       0
...                          ...     ...
13117  CTGGCAGCTACTACATCGCTATCGN       0
13118  TCATAGACCCGGCTTTCCCTATCGN       0
13119  NNNNNNNNNNNNNNNNNNNNATCGN       0
13120  NNNNNNNNNNNNNNNNNNNTATCGN       0
13121  NNNNNNNNNNNNNNNNNNNNATCGN       0

[13122 rows x 2 columns]

In [105]:
frames = [motif_df, motif_df_negative]
  
df = pd.concat(frames)
display(df)

                        Sequance  labels
0      TGAGGTAGTAGGTTGTATAGTTACN       1
1      TGAGGTAGTAGGTTGTATAGTTACN       1
2      TGAGGTAGTAGGTTGTATAGTTACN       1
3      TGAGGTAGTAGGTTGTATAGTTACN       1
4      TGAGGTAGTAGGTTGTATAGTTACN       1
...                          ...     ...
13117  CTGGCAGCTACTACATCGCTATCGN       0
13118  TCATAGACCCGGCTTTCCCTATCGN       0
13119  NNNNNNNNNNNNNNNNNNNNATCGN       0
13120  NNNNNNNNNNNNNNNNNNNTATCGN       0
13121  NNNNNNNNNNNNNNNNNNNNATCGN       0

[31635 rows x 2 columns]

In [106]:
shuffled = df.sample(frac=1, random_state=1)
shuffled.head()

                        Sequance  labels
3069   AGGCAAGATGCTGGCATAGCTACTN       1
11122  TCAGGCTCAGTCCCCTCCCGATACN       1
9848   GCCCCTGGGCCTATCCTAGAAACTN       1
1561   GCTCCTGGAAGATTGCTTTAATCGN       0
7372   ACGACTCCAGGGGGGCCCGTATCGN       0

In [107]:
shuffled.to_csv("clean_miRNA_len25_transfer.txt",index=False)

In [1]:
#Here is for 101 char

In [4]:
df = pd.read_csv('miRNA.txt',sep='\s+')
df.head()

,seq_ID,microRNA_name,miRNA_start,miRNA_end,miRNA_seq,mRNA_name,mRNA_start,mRNA_end_extended,mRNA_seq_extended,chimeras_decompressed,...,folding_energy,5'UTR,CDS,3'UTR,folding_class,conservation_score,log2_target_enrichment,CLASH_single_reads_ovlp,CLASH_cluster_ovlp,PAR_CLIP_cluster_ovlp
0,0727A-1038930_1,MIMAT0000062_MirBase_let-7a_microRNA,1,22,TGAGGTAGTAGGTTGTATAGTT,ENSG00000113328_ENST00000340828_CCNG1_mRNA,1791,1890,ATTTGTATCTACGATAAAAATTTTTATACAGAACCTACTGCCTCAA...,31,...,-25.1,NaN,NaN,1.0,III,0.210342,-0.020802,270.0,NaN,NaN
1,L1HS-1112536_1,MIMAT0000062_MirBase_let-7a_microRNA,1,22,TGAGGTAGTAGGTTGTATAGTT,ENSG00000100697_ENST00000343455_DICER1_mRNA,3857,3928,CAGGAAATACCCGTGCAACCAACTACCTCATATTCCATTCAGAATT...,9,...,-24.4,NaN,1.0,NaN,II,NaN,0.628759,24.0,NaN,1.0
2,L2HS-818542_2,MIMAT0000062_MirBase_let-7a_microRNA,1,22,TGAGGTAGTAGGTTGTATAGTT,ENSG00000080546_ENST00000436639_SESN1_mRNA,2385,2434,ACCCGCTATATGACCTGATGCCTTTCCTTCATTAAAGATGATTCTG...,2,...,-22.2,NaN,1.0,1.0,III,NaN,0.022816,56.0,1.0,1.0
3,L2HS-1161339_2,MIMAT0000062_MirBase_let-7a_microRNA,1,22,TGAGGTAGTAGGTTGTATAGTT,ENSG00000164190_ENST00000282516_NIPBL_mRNA,6570,6623,CAATGACTATGCAACCATACCTTACCACTAAATGTAGTACGCAAAA...,2,...,-22.1,NaN,1.0,NaN,III,NaN,-0.007294,7.0,NaN,NaN
4,L2-407944_2,MIMAT0000062_MirBase_let-7a_microRNA,1,22,TGAGGTAGTAGGTTGTATAGTT,ENSG00000138785_ENST00000340139_INTS12_mRNA,1164,1208,AATACTGGGAAACCTGCTACTTCGTCAGCTAACCAGAAACCTGTG,2,...,-21.9,NaN,1.0,NaN,III,NaN,0.026476,6.0,NaN,NaN

In [7]:
# Python code to read the data from RNA.txt, process it, and write the results to a new file

import pandas as pd

def process_rna_data(file_path):
    # Read the data into a DataFrame
    df = pd.read_csv(file_path, sep='\t')

    # Process the 'miRNA_seq' column
    # Extend the sequence to 101 characters and add "NATCGU" at the end
    df['miRNA_seq_processed'] = df['miRNA_seq'].apply(
        lambda x: (x * (101 // len(x) + 1))[:101] + "NATCGU"
    )
    # Add a label column with value 1
    df['label'] = 1

    # Return the processed DataFrame
    return df

# File path for the input data
input_file_path = 'miRNA.txt'

# Process the data
processed_df = process_rna_data(input_file_path)

# Write the processed sequences with labels to a new file
output_file_path = 'clean_miRNA_len107_transfer.txt'
processed_df[['miRNA_seq_processed', 'label']].to_csv(output_file_path, sep='\t', index=False)

output_file_path

'clean_miRNA_len107_transfer.txt'

In [12]:
# Paths to the files
file_path_negative = 'negative_sequences_rna_107.txt'
file_path_positive = 'clean_miRNA_len107_transfer.txt'

# Read the files into DataFrames
df_negative = pd.read_csv(file_path_negative, sep='\t', header=None, names=['sequence', 'label'])
df_positive = pd.read_csv(file_path_positive, sep='\t', header=None, names=['sequence', 'label'])

# Ensure both DataFrames have the same number of rows
min_length = min(len(df_negative), len(df_positive))
df_negative = df_negative.head(min_length)
df_positive = df_positive.head(min_length)

# Alternate rows from each DataFrame
merged_df = pd.concat([df_negative, df_positive]).sort_index(kind='merge')

# Write the merged sequences to a new file
output_file_path = 'miRNA_107.txt'
merged_df.to_csv(output_file_path, sep='\t', index=False, header=False)

output_file_path

'miRNA_107.txt'

In [3]:
# Python code to read the data from RNA.txt, process it, and write the results to a new file

import pandas as pd

def process_rna_data(file_path):
    # Read the data into a DataFrame
    df = pd.read_csv(file_path, sep='\t')

    # Process the 'miRNA_seq' column
    # Extend the sequence to 101 characters and add "NATCGU" at the end
    df['miRNA_seq_processed'] = df['miRNA_seq']
    
    # Add a label column with value 1
    df['label'] = 1

    # Return the processed DataFrame
    return df

# File path for the input data
input_file_path = 'miRNA.txt'

# Process the data
processed_df = process_rna_data(input_file_path)

# Write the processed sequences with labels to a new file
output_file_path = 'clean_miRNA_original.txt'
processed_df[['miRNA_seq_processed', 'label']].to_csv(output_file_path, sep='\t', index=False)

output_file_path

'clean_miRNA_original.txt'

In [8]:
import pandas as pd

# Read the file
df = pd.read_csv('clean_miRNA_original.txt', sep='\t')

# Drop duplicates based on the 'miRNA_seq_processed' column
df_cleaned = df.drop_duplicates(subset=['miRNA_seq_processed'])

# Save the cleaned DataFrame to a new file
df_cleaned.to_csv('clean_miRNA_no_duplicates.txt', sep='\t', index=False)

print("The file has been cleaned and saved as 'clean_miRNA_no_duplicates.txt'.")

The file has been cleaned and saved as 'clean_miRNA_no_duplicates.txt'.